.map {
  position: absolute;
  margin-top: 80px;
  top: 0px;
  left: 100px;
  z-index: -3;
  height: 700px;
  width: 951px;
}

.white-space {
  height: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  /*margin: 0 auto;*/
}
